*{
    padding: 0;
    margin: 0;   
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://wallpapercave.com/wp/wp285007.png);
    background-position: 49.9% 25%;
    background-size: 2300px;
    font-family: 'VT323', monospace;
}

.game{
    display: flex;
    justify-content: center;
    align-items: center;

}

.grid {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.limits{
    position: absolute;
    width: 285px;
    height: 285px;
    border: 1px solid black;
}

.grid div{
    width: 2.5%;
    height: 2.5%;
    background-color: #99a377;
}

.final{
    width: 150px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.advice {
    width: 100px;
    height: 60px;  
    color: #4A5623;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 30px;
    border : solid 4px#4A5623;
    position: absolute;
}

.lose{
    width: 100px;
    height: 60px;  
    color: #4A5623;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 30px;
    border : solid 4px#4A5623;
}
.score{  
    color: #4A5623;
    text-align: center;
    display: flex;
    font-size: 30px;

}

.d-none{
    display: none;
}

.grid .snake, .grid .apple {
    background-color: #4A5623;
}

.buttons{
    width: 200px;
    height: 200px;
    
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.buttons img
{
    width: 65px;
    height: 65px;
    background-color: aliceblue;
    border-radius: 50%;
}

.up {
    transform: rotate(270deg);
    justify-self: center;
}

.down{
    transform: rotate(90deg);
   
   
}

.buttons picture {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left{
    transform: rotate(180deg);
    align-self: flex-start;
    justify-self: flex-start;
}

.right{
    align-self: flex-end;
    justify-self: flex-end;
}

@media (max-width: 800px){
    body{
    background-image: none;
    background-color: hsl(225, 7%, 11%);
    align-items: baseline;
    }

    .game{
        margin-top: 30px;
    }

    .buttons{
        margin-bottom: 30px;
    }
}

 @media (min-width: 800px){
        .buttons {
            display: none;
        }
    }